<% if current_user.premium? %>
  <h3> Your account is currently set to Premium! </h3>
  <%= button_to "Downgrade!", downgrade_path, method: :delete, class: 'btn btn-success' %>
<% else %>
  <h3>Your account is currently set to Standard!</h3>
  <%= form_tag charges_path do %>
    <h4>Click the button!</h4>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% end %>
<% end %>